//Device = Desktops
@mixin desktop {
    @media (min-width: 1281px) {
        @content;
    }
}

//Device = Laptops, Desktops
@mixin laptop {
    @media (min-width: 1024px) {
        @content;
    }
}

//Device = Tablets, Ipads (portrait)
@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin fadeIn {
    @keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }    
}

// color opacity
@mixin background-opacity($color, $opacity) {
    background: $color;  /*Fallback */
    background: rgba($color, $opacity);
}

// modal animation
@mixin modal {
    @keyframes modalopen {
        from {
          opacity: 0;
          transform: translateY(-150px);
        }
        to {
          opacity: 1;
        }
      }
}