$color-primary: #d04f4f;
$color-secondary-1: #3282f7;
$color-secondary-2: #68d9a4;
$color-secondary-3: #ed6454;
$color-search: #e7e7e7;
$color-photo: #c7bebe;
$color-bg: #f5f5f5;
$font-fam: 'Lato', Arial, Helvetica, sans-serif;
$font-fam-content: 'Roboto', Arial, Helvetica, sans-serif;